* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --white: #fff;

  --gray-50: #f7f8fa;
  --gray-100: #e6e8eb;
  --gray-200: #afb2b1;
  --gray-500: #808080;
  --gray-800: #494d4b;

  --orange-500: #f28627;

  --blue-300: #6da4cc;
  --blue-400: #5581a0;
  --blue-500: #39566b;
  --blue-800: #293d4b;
  --blue-900: #0e2130;
  --blue-1100: #05131e;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

body {
  background: var(--gray-100);
}

body,
input,
textarea,
button {
  font: 500 1rem Roboto, sans-serif;
  color: var(--gray-500);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  font-family: Roboto, sans-serif;
  color: var(--gray-800);
}

h1 {
  font-size: 2rem;
}

button {
  cursor: pointer;
}
